node_modules

config/production.yml
logs

packages/backend/built

packages/frontend/.nuxt
packages/frontend/.output
packages/frontend/dist

uploads

# used for development when making users manually
private.pem
public.pem
