node_modules

config/production.ini
/logs

build
built
.svelte-kit

uploads

# used for development when making users manually
private.pem
public.pem

.env

packages/frontend/static/favicon.ico
packages/frontend/static/logo.png

# rust
target
