built
build
.svelte-kit
*.ttf
*.woff
*.woff2
*.txt
*.png
*.webp
*.ico
*.gif
*.jpg
*.jpeg
*.wav
*.mp3
.npmrc
.env
.editorconfig
*.pem
LICENSE
uploads
/sonic
.pnpm-store
.idea
pnpm-lock.yaml
.devenv
.direnv
.devenv.flake.nix
devenv.lock
devenv.nix
.envrc
.DS_store
