.userHeader {
	.banner {
		height: 250px;
		width: 100%;
		object-fit: cover;
		background-color: var(--bg-secondary);
		user-select: none;
	}

	.innerHeader {
		padding: 12px 16px;
		margin-top: -105px;
		border-bottom: var(--border-width-s) solid var(--bg-tertiary);

		.top {
			width: 100%;
			display: flex;

			.left {
				display: flex;
				align-items: center;
				flex-grow: 2;

				.avatarCtn {
					.avatar {
						box-shadow: 1px 0px 10px #00000085;
					}
				}
			}

			.right {
				display: flex;
				align-items: end;
				padding-top: 40px;
				gap: 10px;
			}
		}
		.name {
			margin-left: 15px;
			text-shadow:
				var(--bg-tertiary) 0 0 2px,
				var(--bg-tertiary) 0 0 4px,
				var(--bg-tertiary) 0 0 10px,
				var(--bg-tertiary) 0 0 50px;

			> span {
				display: block;
				margin: 2.5px 0px 2.5px 0px;
				&.displayname {
					display: flex;
					margin-top: 10px;
					font-weight: 700;
					font-size: var(--font-xl);
					> .indicators {
						margin-left: 5px;
					}
				}
			}
		}

		.location,
		.birthday,
		.joined {
			margin: 5px 0px 5px 0px;
		}

		.location,
		.birthday {
			display: flex;
			gap: 5px;
		}

		.bio {
			margin: 25px 0 0 0;
			line-height: var(--font-xxl);

			.nobio {
				color: var(--txt-tertiary);
				opacity: 75%;
			}
		}

		.joined {
			color: var(--txt-tertiary);
		}
	}
	.stats {
		display: flex;
		gap: 10px;
		width: 100%;
	}
}
