@media (prefers-color-scheme: dark) {
	.theme-iceshrimp {
		--bg-primary: #363146;
		--bg-secondary: #403a52;
		--bg-tertiary: #443e57;
		--bg-accent: #4d4663;

		--bg-primary-50: #36314650;
		--bg-secondary-50: #403a5250;
		--bg-tertiary-50: #443e5750;
		--bg-accent-50: #4d466350;

		--txt-primary: #e7edff;
		--txt-secondary: #d8def1;
		--txt-tertiary: #cad0e6;

		--accent: #9a92ff;
		--success: #78cca1;
		--warn: #ffd690;
		--danger: #ec9c9c;

		--accent-20: #9a92ff20;
		--success-20: #78cca120;
		--warn-20: #ffd69020;
		--danger-20: #ec9c9c20;

		--accent-75: #9a92ff75;
	}
}

@media (prefers-color-scheme: light) {
	.theme-iceshrimp {
		--bg-primary: #e7edff;
		--bg-secondary: #d8def1;
		--bg-tertiary: #cad0e6;
		--bg-accent: #afb7d1;

		--bg-primary-50: #e7edff50;
		--bg-secondary-50: #d8def150;
		--bg-tertiary-50: #cad0e650;
		--bg-accent-50: #afb7d150;

		--txt-primary: #363146;
		--txt-secondary: #403a52;
		--txt-tertiary: #443e57;

		--accent: #9a92ff;
		--success: #86b300;
		--warn: #bd9537;
		--danger: #ec4137;

		--accent-20: #9a92ff20;
		--success-20: #86b30020;
		--warn-20: #ecb63720;
		--danger-20: #ec413720;
	}
}
