@media (prefers-color-scheme: dark) {
	.theme-mi-botanical {
		--bg-primary: #252624;
		--bg-secondary: #2f2f2c;
		--bg-tertiary: #363636;
		--bg-accent: #424242;

		--bg-primary-50: #25262450;
		--bg-secondary-50: #2f2f2c50;
		--bg-tertiary-50: #36363650;
		--bg-accent-50: #42424250;

		--txt-primary: #d8d4c7;
		--txt-secondary: #ccc5ad;
		--txt-tertiary: #d3c596;
	}
}

@media (prefers-color-scheme: light) {
	.theme-mi-botanical {
		--bg-primary: #ebe7e5;
		--bg-secondary: #e2deda;
		--bg-tertiary: #d8d4c7;
		--bg-accent: #ccc5ad;

		--bg-primary-50: #ebe7e550;
		--bg-secondary-50: #e2deda50;
		--bg-tertiary-50: #d8d4c750;
		--bg-accent-50: #ccc5ad50;

		--txt-primary: #3d3d3d;
		--txt-secondary: #474747;
		--txt-tertiary: #5a5a5a;
	}
}

.mi-botanical {
	--accent: #77b58c;
	--success: #86b300;
	--warn: #ecb637;
	--danger: #ec4137;

	--accent-20: #77b58c20;
	--success-20: #86b30020;
	--warn-20: #ecb63720;
	--danger-20: #ec413720;
}
