@media (prefers-color-scheme: dark) {
	.theme-mi-cherry {
		--bg-primary: #1c1c25;
		--bg-secondary: #23232f;
		--bg-tertiary: #2a2a38;
		--bg-accent: #3d3d52;

		--bg-primary-50: #1c1c2550;
		--bg-secondary-50: #23232f50;
		--bg-tertiary-50: #2a2a3850;
		--bg-accent-50: #3d3d5250;

		--txt-primary: #eceff4;
		--txt-secondary: #dadde2;
		--txt-tertiary: #c2c8d1;

		--accent: #ff5975;
		--success: #78cca5;
		--warn: #ffc079;
		--danger: #ee8f8f;

		--accent-20: #ff597520;
		--success-20: #78cca520;
		--warn-20: #ffc07920;
		--danger-20: #ee8f8f20;

		--accent-75: #ff597575;
	}
}

@media (prefers-color-scheme: light) {
	.theme-mi-cherry {
		--bg-primary: #fff8f9;
		--bg-secondary: #ffeeef;
		--bg-tertiary: #fde3e5;
		--bg-accent: #ffd3d3;

		--bg-primary-50: #fff8f950;
		--bg-secondary-50: #ffeeef50;
		--bg-tertiary-50: #fde3e550;
		--bg-accent-50: #ffd3d350;

		--txt-primary: #980d1a;
		--txt-secondary: #b92a38;
		--txt-tertiary: #c23947;

		--accent: #ff5975;
		--success: #86b300;
		--warn: #bd9537;
		--danger: #ec4137;

		--accent-20: #ff597520;
		--success-20: #86b30020;
		--warn-20: #ecb63720;
		--danger-20: #ec413720;
	}
}
