.theme-mi-green {
	--bg-primary: #0c1210;
	--bg-secondary: #192320;
	--bg-tertiary: #24302c;
	--bg-accent: #394641;

	--bg-primary-50: #0c121050;
	--bg-secondary-50: #19232050;
	--bg-tertiary-50: #24302c50;
	--bg-accent-50: #33413c50;

	--txt-primary: #dee7e4;
	--txt-secondary: #c7d1d8;
	--txt-tertiary: #b4bdc4;

	--accent: #b4e900;
	--success: #86b300;
	--warn: #ecb637;
	--danger: #ec4137;

	--accent-20: #b4e90020;
	--success-20: #86b30020;
	--warn-20: #ecb63720;
	--danger-20: #ec413720;

	--accent-75: #b4e90075;
}
