@media (prefers-color-scheme: dark) {
	.theme-misskey {
		--bg-primary: #232323;
		--bg-secondary: #2d2d2d;
		--bg-tertiary: #363636;
		--bg-accent: #424242;

		--bg-primary-50: #23232350;
		--bg-secondary-50: #2d2d2d50;
		--bg-tertiary-50: #36363650;
		--bg-accent-50: #42424250;

		--txt-primary: #e7eef3;
		--txt-secondary: #c7d1d8;
		--txt-tertiary: #b4bdc4;
	}
}

@media (prefers-color-scheme: light) {
	.theme-misskey {
		--bg-primary: #f9f9f9;
		--bg-secondary: #e8e8e8;
		--bg-tertiary: #d4d4d4;
		--bg-accent: #b8b8b8;

		--bg-primary-50: #f9f9f950;
		--bg-secondary-50: #e8e8e850;
		--bg-tertiary-50: #d4d4d450;
		--bg-accent-50: #b8b8b850;

		--txt-primary: #424242;
		--txt-secondary: #676767;
		--txt-tertiary: #7a7a7a;
	}
}

.theme-misskey {
	--accent: #94b300;
	--success: #86b300;
	--warn: #ecb637;
	--danger: #ec4137;

	--accent-20: #94b30020;
	--success-20: #86b30020;
	--warn-20: #ecb63720;
	--danger-20: #ec413720;

	--accent-75: #94b30075;
}
