@media (prefers-color-scheme: dark) {
	.purpura {
		--bg-primary: #221f29;
		--bg-secondary: #1d1a22;
		--bg-tertiary: #19171f;
		--bg-accent: #35313f;

		--bg-primary-50: #221f2950;
		--bg-secondary-50: #1f1c2550;
		--bg-tertiary-50: #1a181f50;
		--bg-accent-50: #35313f50;

		--txt-primary: #ffffff;
		--txt-secondary: #e3e0eb;
		--txt-tertiary: #c7c1d1;

		--accent: #b094ff;
		--accent-20: #b094ff20;
	}
}

@media (prefers-color-scheme: light) {
	.purpura {
		--bg-primary: #d9d2e8;
		--bg-secondary: #d0c8e1;
		--bg-tertiary: #beb5d5;
		--bg-accent: #a095b3;

		--bg-primary-50: #d9d2e850;
		--bg-secondary-50: #d0c8e150;
		--bg-tertiary-50: #beb5d550;
		--bg-accent-50: #a095b350;

		--txt-primary: #19171f;
		--txt-secondary: #1d1a22;
		--txt-tertiary: #221f29;

		--accent: #7f50ff;
		--accent-20: #7f50ff20;
	}
}

.purpura {
	--font: 'Figtree', Arial, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	--font-xxl: 20px;
	--font-xl: 18px;
	--font-l: 16px;
	--font-m: 15px;
	--font-s: 14px;
	--font-xs: 12px;
	--font-xxs: 10px;

	--border-xxl: 16px;
	--border-xl: 12px;
	--border-l: 10px;
	--border-m: 8px;
	--border-s: 6px;
	--border-xs: 4px;
	--border-xxs: 0px;

	--border-width-xs: 0.5px;
	--border-width-s: 1px;
	--border-width-m: 2px;
	--border-width-l: 2.5px;
	--border-width-xl: 5px;

	--success: #43c984;
	--warn: #ffc45d;
	--danger: #e85858;

	--success-20: #43c98420;
	--warn-20: #ffc45d20;
	--danger-20: #e8585820;
}
