:root {
	--bg-primary: #221f29;
	--bg-secondary: #1f1c25;
	--bg-tertiary: #1a181f;
	--bg-accent: #35313f;

	--txt-primary: #ffffff;
	--txt-secondary: #f4f1fa;
	--txt-tertiary: #dcd8e2;

	--accent: #9671ff;
}
