@media (prefers-color-scheme: dark) {
	:root {
		--bg-primary: #221f29;
		--bg-secondary: #1d1a22;
		--bg-tertiary: #19171f;
		--bg-accent: #35313f;

		--bg-primary-50: #221f2950;
		--bg-secondary-50: #1f1c2550;
		--bg-tertiary-50: #1a181f50;
		--bg-accent-50: #35313f50;

		--txt-primary: #ffffff;
		--txt-secondary: #e3e0eb;
		--txt-tertiary: #c7c1d1;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-primary: #d9d2e8;
		--bg-secondary: #cabee3;
		--bg-tertiary: #c1b3e1;
		--bg-accent: #ab99ca;

		--bg-primary-50: #d2c8e850;
		--bg-secondary-50: #bdb1d750;
		--bg-tertiary-50: #b7a9d550;
		--bg-accent-50: #e5e0ee50;

		--txt-primary: #19171f;
		--txt-secondary: #1d1a22;
		--txt-tertiary: #221f29;
	}
}

:root {
	--accent: #9671ff;
	--accent-20: #9671ff20;

	--success: #43c984;
	--success-20: #43c98420;

	--warn: #ffc45d;
	--warn-20: #ffc45d20;

	--danger: #e85858;
	--danger-20: #e8585820;

	// Font family
	--font: 'Figtree', Arial, Helvetica, sans-serif;

	// Font size
	--font-xxl: 20px;
	--font-xl: 18px;
	--font-l: 16px;
	--font-m: 15px;
	--font-s: 14px;
	--font-xs: 12px;
	--font-xxs: 10px;

	// Border radius
	--border-xxl: 16px;
	--border-xl: 12px;
	--border-l: 10px;
	--border-m: 8px;
	--border-s: 6px;
	--border-xs: 4px;
	--border-xxs: 0px;

	// Border width
	--border-width-s: 1px;
	--border-width-m: 2px;
}
