.theme-rosepine-moon {
	--bg-primary: #232136;
	--bg-secondary: #2a273f;
	--bg-tertiary: #393552;
	--bg-accent: #44415a;

	--bg-primary-50: #23213650;
	--bg-secondary-50: #2a273f50;
	--bg-tertiary-50: #39355250;
	--bg-accent-50: #44415a50;

	--txt-primary: #e0def4;
	--txt-secondary: #cbcadf;
	--txt-tertiary: #bebcd3;

	--accent: #c4a7e7;
	--success: #9ccfd8;
	--warn: #f6c177;
	--danger: #eb6f92;

	--accent-20: #c4a7e720;
	--success-20: #9ccfd820;
	--warn-20: #f6c17720;
	--danger-20: #eb6f9220;

	--accent-75: #c4a7e775;

	--accent-1: #c4a7e7; // iris
	--accent-2: #eb6f92; // love
	--accent-3: #9ccfd8; // foam
	--accent-4: #ea9a97; // rose

	--accent-1-20: #c4a7e720;
	--accent-2-20: #eb6f9220;
	--accent-3-20: #9ccfd820;
	--accent-4-20: #ea9a9720;
}
