.theme-rosepine-dawn {
	--bg-primary: #faf4ed;
	--bg-secondary: #eee6de;
	--bg-tertiary: #dbd2ca;
	--bg-accent: #c9bbae;

	--bg-primary-50: #faf4ed50;
	--bg-secondary-50: #eee6de50;
	--bg-tertiary-50: #dbd2ca50;
	--bg-accent-50: #c9bbae50;

	--txt-primary: #575279;
	--txt-secondary: #605b81;
	--txt-tertiary: #706b92;

	--accent: #286983;
	--success: #7aa995;
	--warn: #ea9d34;
	--danger: #b4637a;

	--accent-20: #28698320;
	--success-20: #7aa99520;
	--warn-20: #ea9d3420;
	--danger-20: #b4637a20;

	--accent-1: #907aa9; // iris
	--accent-2: #b4637a; // love
	--accent-3: #56949f; // foam
	--accent-4: #d7827e; // rose

	--accent-1-20: #907aa920;
	--accent-2-20: #b4637a20;
	--accent-3-20: #56949f20;
	--accent-4-20: #d7827e20;
}
