.wisteria {
	--bg-primary: #d9d2e8;
	--bg-secondary: #d0c8e1;
	--bg-tertiary: #beb5d5;
	--bg-accent: #a095b3;

	--bg-primary-50: #d9d2e850;
	--bg-secondary-50: #d0c8e150;
	--bg-tertiary-50: #beb5d550;
	--bg-accent-50: #a095b350;

	--txt-primary: #19171f;
	--txt-secondary: #1d1a22;
	--txt-tertiary: #221f29;

	--accent: #7f50ff;
	--accent-20: #7f50ff20;
}
