@font-face {
	font-family: 'Inclusive Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/InclusiveSans/InclusiveSans-Regular.ttf');
}
@font-face {
	font-family: 'Inclusive Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/InclusiveSans/InclusiveSans-Italic.ttf');
}
