@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/WorkSans/WorkSans-Bold.ttf');
}
@font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/WorkSans/WorkSans-BoldItalic.ttf');
}
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/WorkSans/WorkSans-SemiBold.ttf');
}
@font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/WorkSans/WorkSans-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/WorkSans/WorkSans-Regular.ttf');
}
@font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/WorkSans/WorkSans-Italic.ttf');
}

.font-work-sans {
	--font: 'Work Sans', Arial, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Work Sans',
		'Helvetica Neue', sans-serif;
}
