@import url('$lib/fonts/inter.css');

:root {
	$bg1: #140e1b;
	$bg2: #1a1423;
	$bg3: #261e37;
	$bg4: #3f325a;

	$tx1: #f3efff;
	$tx2: #d8cdf1;
	$tx3: #9688bd;

	$ac1: #865fdf;

	$success: #38b84d;
	$warn: #e39244;
	$danger: #e65448;

	/*
		colors
	*/

	// background

	--bg1: #{$bg1};
	--bg2: #{$bg2};
	--bg3: #{$bg3};
	--bg4: #{$bg4};

	--bg1-25: #{rgba($bg1, 0.25)};
	--bg2-25: #{rgba($bg2, 0.25)};
	--bg3-25: #{rgba($bg3, 0.25)};
	--bg4-25: #{rgba($bg4, 0.25)};

	--bg1-50: #{rgba($bg1, 0.5)};
	--bg2-50: #{rgba($bg2, 0.5)};
	--bg3-50: #{rgba($bg3, 0.5)};
	--bg4-50: #{rgba($bg4, 0.5)};

	--bg1-75: #{rgba($bg1, 0.75)};
	--bg2-75: #{rgba($bg2, 0.75)};
	--bg3-75: #{rgba($bg3, 0.75)};
	--bg4-75: #{rgba($bg4, 0.75)};

	--bg1-99: #{rgba($bg1, 0.99)};
	--bg2-99: #{rgba($bg2, 0.99)};
	--bg3-99: #{rgba($bg3, 0.99)};
	--bg4-99: #{rgba($bg4, 0.99)};

	// text

	--tx1: #{$tx1};
	--tx2: #{$tx2};
	--tx3: #{$tx3};

	--tx1-25: #{rgba($tx1, 0.25)};
	--tx2-25: #{rgba($tx2, 0.25)};
	--tx3-25: #{rgba($tx3, 0.25)};

	--tx1-50: #{rgba($tx1, 0.5)};
	--tx2-50: #{rgba($tx2, 0.5)};
	--tx3-50: #{rgba($tx3, 0.5)};

	--tx1-75: #{rgba($tx1, 0.75)};
	--tx2-75: #{rgba($tx2, 0.75)};
	--tx3-75: #{rgba($tx3, 0.75)};

	// accent

	--ac1: #{$ac1};
	--ac1-25: #{rgba($ac1, 0.25)};
	--ac1-50: #{rgba($ac1, 0.5)};
	--ac1-75: #{rgba($ac1, 0.75)};

	--success: #{$success};
	--success-25: #{rgba($success, 0.25)};
	--success-50: #{rgba($success, 0.5)};
	--success-75: #{rgba($success, 0.75)};

	--warn: #{$warn};
	--warn-25: #{rgba($warn, 0.25)};
	--warn-50: #{rgba($warn, 0.5)};
	--warn-75: #{rgba($warn, 0.75)};

	--danger: #{$danger};
	--danger-25: #{rgba($danger, 0.25)};
	--danger-50: #{rgba($danger, 0.5)};
	--danger-75: #{rgba($danger, 0.75)};

	/*
		measurements
	*/

	// border radius
	--br-mn: 0px;
	--br-xxs: 2px;
	--br-xs: 4px;
	--br-sm: 8px;
	--br-md: 10px;
	--br-lg: 12px;
	--br-xl: 14px;
	--br-xxl: 18px;
	--br-mx: 99999px;

	// font
	--fs-xxs: 8px;
	--fs-xs: 10px;
	--fs-sm: 12px;
	--fs-md: 14px;
	--fs-lg: 18px;
	--fs-xl: 20px;
	--fs-xxl: 22px;

	--font: Inter, serif;
	--font-features: 'cv05', 'cv08';

	/*
		misc
	*/

	// trying rem? maybe it'll help the effect looking drastically different on some screens
	--funky-effect: inset 0 -0.1rem 2.5px #00000020,
		inset 0 0.035rem 1px #ffffff05, inset 0 0.055rem 2.5px #ffffff05;
}

html {
	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);
	color: var(--tx2);
}

body {
	display: flex;
	justify-content: center;

	margin: 0;
	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);

	color: var(--tx2);
	background-color: var(--bg1);

	.app {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	main {
		min-width: 200px;
		width: 100%;
		max-width: 750px;

		@media (max-width: 1355px) {
			max-width: 850px;
		}
		@media (max-width: 750px) {
			width: 100%;
			max-width: none;
		}
	}
}

::selection {
	color: var(--tx1);
	background-color: var(--ac1-50);
}

h1 {
	font-size: var(--fs-xxl);
}

h2 {
	font-size: var(--fs-xl);
}

h3 {
	font-size: var(--fs-lg);
}

h1,
h2,
h3 {
	color: var(--tx1);

	&:not(.mg) {
		margin: 0;
	}
}

h4,
p {
	font-size: var(--fs-md);
}

h5s {
	font-size: var(--fs-sm);
}

h6 {
	font-size: var(--fs-xs);
}

h4,
h5,
h6,
p {
	color: var(--tx2);

	&:not(.mg) {
		margin: 0;
	}
}

a {
	color: var(--ac1);
	text-decoration-color: var(--ac1-50);
	transition: 0.1s;

	&:hover {
		text-decoration-color: var(--ac1);
	}
}

button {
	&.nobg {
		display: flex;
		color: inherit;
		background: none;
		border: none;
		padding: inherit;
		cursor: pointer;
	}
}

small {
	color: var(--tx3);
	font-size: var(--fs-xs);
}
