@import url('$lib/fonts/inter.css');

:root {
	--br-mn: 0px;
	--br-xxs: 2px;
	--br-xs: 4px;
	--br-sm: 6px;
	--br-md: 10px;
	--br-lg: 12px;
	--br-xl: 14px;
	--br-xxl: 18px;
	--br-mx: 99999px;

	--fs-xxs: 8px;
	--fs-xs: 10px;
	--fs-sm: 12px;
	--fs-md: 14px;
	--fs-lg: 18px;
	--fs-xl: 20px;
	--fs-xxl: 22px;

	--font: Inter, serif;
	--font-features: 'cv05', 'cv08';

	--blur-xs: 2px;
	--blur-sm: 4px;
	--blur-md: 8px;
	--blur-lg: 12px;
	--blur-xl: 20px;

	--funky-effect:
		inset 0 -0.1rem 2.5px #00000020, inset 0 0.035rem 1px #ffffff05,
		inset 0 0.055rem 2.5px #ffffff05;
}

html {
	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);
	background-color: var(--bg1);
	color: var(--tx2);
}

body {
	display: flex;
	justify-content: center;

	margin: 0;
	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);

	color: var(--tx2);
	background-color: var(--bg1);

	width: 100%;
	height: 100%;

	main {
		min-width: 200px;
		width: 100%;
		max-width: 750px;

		@media (max-width: 1355px) {
			max-width: 850px;
		}
		@media (max-width: 750px) {
			width: 100%;
			max-width: none;
		}
	}
}

* {
	scrollbar-color: var(--bg3) transparent;
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	max-width: 5px;
	max-height: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bg3);
	border-radius: var(--br-md);
}

::selection {
	color: var(--tx1);
	background-color: var(--ac1-50);
}

h1 {
	font-size: var(--fs-xxl);
}

h2 {
	font-size: var(--fs-xl);
}

h3 {
	font-size: var(--fs-lg);
}

h1,
h2,
h3 {
	color: var(--tx1);

	&:not(.mg) {
		margin: 0;
	}
}

h4,
p {
	font-size: var(--fs-md);
}

h5 {
	font-size: var(--fs-sm);
}

h6 {
	font-size: var(--fs-xs);
}

h4,
h5,
h6,
p {
	color: var(--tx2);

	&:not(.mg) {
		margin: 0;
	}
}

a {
	color: var(--ac1);
	text-decoration-color: var(--ac1-50);
	transition: 0.1s;

	&:hover {
		text-decoration-color: var(--ac1);
	}
}

button {
	&.nobg {
		display: flex;
		color: inherit;
		background: none;
		border: none;
		padding: inherit;
		cursor: pointer;
	}
}

small {
	color: var(--tx3);
	font-size: var(--fs-xs);
}

hr.vertical {
	height: calc(100% - (2px * 2));
	margin: 2px 4px;
	border: none;
	border-left: 1px solid var(--bg4);
}
