._0VO5sC1 {
	.stats {
		display: flex;
		gap: 10px;
		margin-bottom: 10px;

		> .stat {
			display: flex;
			gap: 10px;
			background-color: var(--bg-secondary);
			border-radius: var(--border-m);
			padding: 12px;
			width: 100%;

			.left {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--accent-20);
				color: var(--accent);
				border-radius: var(--border-m);
				width: 35px;
				height: 35px;

				&.first {
					background-color: var(--accent-1-20);
					color: var(--accent-1);
				}

				&.second {
					background-color: var(--accent-2-20);
					color: var(--accent-2);
				}

				&.third {
					background-color: var(--accent-3-20);
					color: var(--accent-3);
				}

				&.fourth {
					background-color: var(--accent-4-20);
					color: var(--accent-4);
				}
			}
			.right {
				b {
					font-size: var(--font-m);
				}
			}
		}
	}
}
